<h2>List of Products</h2>
<div *ngIf="!authService.isLoggedIn; else toAdminBlock">
  <button class="btn btn-default" (click)="toAdmin()">Log in</button>
</div>
<ng-template #toAdminBlock>
  <button class="btn btn-default" (click)="toAdmin()">admin</button>
</ng-template>

<div>
  <div *ngIf="authService.isLoggedIn">
    <button class="btn btn-primary" (click)="createProduct()">Create</button>
    <button class="btn btn-primary" (click)="refresh()">Refresh</button>
  </div>
  <button class="btn btn-default" (click)="toCart()">To cart</button>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  {{errorMessage}}
</div>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let product of getProducts();">
    <td>
      {{product.name}}
    </td>
    <td>
      {{product.price}}
    </td>
    <td>
      <span *ngIf="authService.isLoggedIn">
        <button class="btn btn-primary" (click)="editProduct(product)">Edit</button>
        <button class="btn btn-primary" (click)="deleteProduct(product)">Delete</button>
      </span>
      <button class="btn btn-default" (click)="addCart(product)">Add cart</button>
    </td>
    <td>{{counter[product.id]? counter[product.id]: ''}}</td>
  </tr>
</table>
<div class="form-inline pull-xs-left m-r-1">
  <select class="form-control" [value]="productsPerPage" (change)="changePageSize($event.target.value)">
    <option value="2">2 per Page</option>
    <option value="3">3 per Page</option>
    <option value="4">4 per Page</option>
    <!--<option value="5">5 per Page</option>-->
    <!--<option value="6">6 per Page</option>-->
  </select>
</div>
<div class="btn-group pull-xs-right">
  <!--<button (click)="getPageNumbers()"></button>-->
  <button class="btn btn-outline-primary"
          *ngFor="let page of getPageNumbers()"
          (click)="changePage(page)"
          [class.active]="page == selectedPage">
          {{page}}
  </button>
</div>